@import url('/css/variables.css');

body {
    color: #000000;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: 1.5;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.home-section {
    position: relative;
    height: 100%;
    min-height: 550px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.home-section:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 0;
}

.home-section #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#home h1 {
    font-family: var(--title-font-family);
    /* use clamp to resize text for different screen sizes - minimum, relative, maximum */
    font-size: clamp(4rem, 10vw, 8rem);
    margin: 36px 0 22px;
    color: white;
    font-weight: var(--font-weight-600);
}

#home h2 {
    font-family: var(--title-font-family);
    font-size: var(--subtitle-font-size);
    color: #fff;
}

.section-body {
    /* background-color: white; */
    /* padding: 100px 0; */
    /* margin-left: clamp(80px, 1%, 10px) !important; */
}

.page-table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    z-index: 5;
}

#home-intro {
    color: #DBE8D4;
    position: relative;
    max-width: 30rem;
    display: inline-block;
    margin-top: 3%;
    padding-right: 20px;
    padding-left: 20px;
}

.horizontal-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.home-scroll-bottom {
    display: block;
    bottom: 50px;
}

h1.title {
    font-family: var(--title-font-family);
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;

    background: linear-gradient(to right, var(--primary-color), var(--primary-color)) no-repeat;
    background-size: 20% 3px;
    background-position: bottom;
    font-weight: var(--font-weight-600);
}

h2.bold {
    font-family: var(--title-font-family);
    font-weight: var(--font-weight-600);
}

.card-project {
    display: block;
    position: relative;
    width: max(100%, 20rem);
    height: 15em;
    padding: calc(32px/2) 32px;
    padding-bottom: clamp(30%, 50%, 66%);
    background-size: cover;
    background-position: center center;
    background-blend-mode: hard-light;
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: box-shadow 100ms ease-out;
    outline: none;
    text-decoration: none;
}

.card-project:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 220;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 173, 227, 0);
    pointer-events: none;
    transition: 250ms ease-out;
}

.card-project,
.card-project:after {
    border-radius: 1em;
    overflow: hidden;
}

.card-project:hover {
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 32px var(--primary-color);
    text-decoration: none;
    background-image: linear-gradient(180deg, rgba(7, 8, 38, 1) 100%, rgba(0, 0, 0, 1) 0%) !important;
    transition: .25s ease-in-out;
}

.tag {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #c0c0c0;
    width: 100%;
    /* padding-bottom: 15px; */
}

ul.buzz-words,
ul.buzz-words-projects,
ul.buzz-words-projects li {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    font-family: var(--fancy-font-family);
}

ul.buzz-words-projects {
    opacity: 0;
    bottom: 0;
    position: absolute;
    transition: opacity .25s ease-in-out;
}

ul.buzz-words li,
ul.buzz-words-projects li {
    display: inline-block;
    background-color: var(--tertiary-color);
    border: 0.2em solid var(--tertiary-color);
    border-radius: 0.6em;
    margin-right: 0.1em;
    margin-top: 0.2em;
    color: white;
    padding: 0 0.1em;
}

ul.buzz-words-projects li {
    color: black;
    background-color: white;
    border: 0.2em solid black;
}

a:hover ul.buzz-words-projects {
    opacity: 1;
    max-height: inherit;
}

p.project-title {
    font-size: var(--title-font-size);
    font-family: var(--fancy-font-family);
    position: relative;
    color: white;
}

#learn-more-button {
    display: none;
    border-color: var(--secondary-color);
    transition: .25s ease-in-out;
}

a:hover #learn-more-button {
    display: inline;
    transition: .25s ease-in-out;
}

.secondary-btn:hover {
    background-color: var(--secondary-color);
    color: white;
}

.carousel-control-prev,
.carousel-control-next {
    align-items: flex-end;
}

.carousel-control-prev {
    justify-content: end;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 65px;
    height: 50px;
    background-size: 35% 100%;
}

.sticky-bottom {
    bottom: 0;
    position: absolute;
    left: 0;
    padding: 1em;
}

.modal-content {
    border-radius: 0;
}

.modal {
    z-index: 999999;
}

.img-settings {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}

.primary-btn {
    background-color: white;
    border-color: var(--primary-color);
}

.primary-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.active-btn {
    background-color: var(--primary-color);
    color: white;
}

.filter-btn {
    padding-left: clamp(1rem, 2.5vw, 3rem);
    padding-right: clamp(1rem, 2.5vw, 3rem);
    margin-right: clamp(1rem, 2.5vw, 3rem);
}

.btn-close {
    float: right;
}

.modal-fixed-bottom {
    /* position: absolute; */
    bottom: 0;
}

.modal-footer {
    border-top: none;
}

footer {
    background: #181818;
    padding: 70px 0 50px 0;
    position: relative;
    text-align: center;
    margin-top: 25px;
}

#links {
    list-style-type: none;
}

#footer-links li {
    display: inline-block;
    text-align: center;
}

#footer-links li a {
    /* background-color: white; */
    /* border-radius: 25%; */
    text-align: center;
    font-size: 1.5rem;
    display: block;
    color: var(--tertiary-color);
    height: 2rem;
    width: 2rem;
    margin: 10px;
}

.footer-name {
    color: var(--secondary-color);
}

#autoScrollButton {
    background: var(--tertiary-color);
    color: white;
    cursor: pointer;
    font-size: 25pt;
    height: 50px;
    left: 0;
    line-height: 40pt;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -25px;
    width: 47px;
}

@media screen and (max-width: 769px) {
    ul.buzz-words-projects {
        opacity: 1;
    }

    .modal-fixed-bottom {
        position: absolute;
    }
}

@media screen and (min-width: 600px) {
    .modal-wrap .modal {
        height: initial;
        top: -6vh;
    }
}

@media (min-width: 1024px) {
    .nav-bar-padding-left-size {
        padding-left: 60px;
    }

    #autoScrollButton {
        left: 60px;
    }
}