@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Permanent+Marker|Chewy|Raleway&display=swap');

body {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    line-height: 1.5;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.home-1 {
    position: relative;
    height: 100%;
    min-height: 550px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.home-1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 0;
}

.home-1 #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/* add fonts  */
#home h1 {
    font-family: 'Poppins';
    font-size: 8rem;
    margin: 36px 0 22px;
    color: #fff;
}

#home h2 {
    font-family: 'Poppins';
    font-size: 1.5rem;
    /* margin: 36px 0 22px; */
    color: #fff;
}

.section {
    background-color: #fff;
    padding: 100px 0;
}

.second-bg {
    background-color: #fafafa;
}

.page-table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    z-index: 5;
}

#home-intro {
    font-family: 'Poppins';
    color: #DBE8D4;
    position: relative;
    width: 30rem;
    display: inline-block;
    margin-top: 3%;
}

.header-size {
    font-size: 2rem;
}

.sub-header-size {
    font-size: 1.5rem;
}

.text-size {
    font-size: 1rem;
}

.horizontal-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.home-scroll-bottom {
    display: block;
    bottom: 50px;
}

h1.title {
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;

    background: linear-gradient(to right, #070826, #070826) no-repeat;
    background-size: 20% 3px;
    background-position: bottom;
    font-weight: 600;
}

h2.font {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.card-project {
    display: block;
    position: relative;
    width: 25em;
    height: 15em;
    padding: calc(32px/2) 32px;
    padding-bottom: 66%;
    background-size: cover;
    background-position: center center;
    background-blend-mode: hard-light;
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: box-shadow 100ms ease-out;
    outline: none;
}

.card-project:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 220;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 173, 227, 0);
    pointer-events: none;
    transition: 250ms ease-out;
}

.card-project,
.card-project:after {
    border-radius: 1em;
    overflow: hidden;
}

.card-project:hover {
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 32px #070826;
    text-decoration: none;
    background-image: linear-gradient(180deg, rgba(7, 8, 38, 1) 100%, rgba(0, 0, 0, 1) 0%) !important;
    transition: .25s ease-in-out;
}

.tag {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #c0c0c0;
    width: 100%;
    /* padding-bottom: 15px; */
}

ul.buzz-words,
ul.buzz-words-projects,
ul.buzz-words-projects li {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

ul.buzz-words-projects {
    opacity: 0;
    bottom: 0;
    position: absolute;
    transition: opacity .25s ease-in-out;
}

ul.buzz-words li,
ul.buzz-words-projects li {
    display: inline-block;
    background-color: #A9A9A9;
    border: 0.2em solid #A9A9A9;
    border-radius: 0.6em;
    margin-right: 0.1em;
    margin-top: 0.2em;
    color: #FFFFFF;
    padding: 0 0.1em;
}

ul.buzz-words-projects li {
    font-family: "Chewy", cursive;
    color: #000000;
    background-color: #FFFFFF;
    border: 0.2em solid #000000;
}

a:hover ul.buzz-words-projects {
    opacity: 1;
    max-height: inherit;
}

p.project-title {
    font-size: 2em;
    font-family: "Chewy", cursive;
    position: relative;
    color: #FFFFFF;
}

#learn-more-button {
    display: none;
    transition: .25s ease-in-out;
}

a:hover #learn-more-button {
    display: block;
    transition: .25s ease-in-out;
}

.btn:hover {
    background-color: #C2F2E5;
}

.carousel-control-prev,
.carousel-control-next {
    align-items: flex-end;
}

.carousel-control-prev {
    justify-content: end;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 65px;
    height: 50px;
    background-size: 35% 100%;
}

.sticky-bottom {
    bottom: 0;
    position: absolute;
    left: 0;
    padding: 1em;
}

.modal-content {
    border-radius: 0;
}

.modal {
    z-index: 999999;
}

.img-settings {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: red;
}