<!-- Nav
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">October Demo</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Basic concepts</a></li>
                <li class="{% if this.page.id == 'ajax' %}active{% endif %}"><a href="{{ 'ajax'|page }}">AJAX framework</a></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">Plugin components</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<div id="nav-bar" class="">
    <a class="logo" rel="index" href="/#home">
        <img src="{{ 'assets/images/logo.png'|theme }}" width="24px" height="100%" alt="Ahmet Ince logo">
    </a>
    <nav id="nav-bar-menu">
        <a rel="index" href="/#home" class="nav-bar nav-bar-home">
            <i class="fa fa-home icon-home"></i>
            <p class="nav-font-size-sm">Home</p>
        </a>
        <a rel="about" href="/#about" class="nav-bar nav-bar-about">
            <i class="fa fa-user-secret icon-about"></i>
            <p class="nav-font-size-sm">About</p>
        </a>
        <a rel="portfolio" href="/#portfolio" class="nav-bar nav-bar-portfolio">
            <i class="fa fa-code icon-portfolio"></i>
            <p class="nav-font-size-sm">Portfolio</p>
        </a>
        <a rel="blog" href="/blog" class="nav-bar nav-bar-blog active">
            <i class="fa fa-rss icon-blog"></i>
            <p class="nav-font-size-sm">Blog</p>
        </a>
        <a rel="contact" href="/#contact" class="nav-bar nav-bar-contact">
            <i class="fa fa-envelope icon-contact"></i>
            <p class="nav-font-size-sm">Contact</p>
        </a>

    </nav>

    <ul class="d-none d-lg-block">
        <li>
            <a href="mailto:ahmetince771@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/ahmet-ince-8a8054150/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://play.google.com/store/apps/developer?id=Ahmet+Ince&hl=en_GB&gl=US" target="_blank">
                <i class="fab fa-google-play"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/Legacy07" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.producthunt.com/@legacy07" target="_blank">
                <i class="fab fa-product-hunt"></i>
            </a>
        </li>
    </ul>
</div>