footer {
    background: #181818;
    padding: 15px 0 30px 0;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

#links {
    list-style-type: none;
}

#footer-links li {
    display: inline-block;
    text-align: center;
}

#footer-links li a {
    /* background-color: white; */
    /* border-radius: 25%; */
    text-align: center;
    font-size: 2.5rem;
    display: block;
    color: var(--tertiary-color);
    height: 2rem;
    width: 2rem;
    margin: 15px;
    transition: 250ms ease-in;
}

#footer-links li:hover a {
    color: var(--secondary-color);
}

.footer-name {
    color: var(--secondary-color);
}

#autoScrollButton {
    background: var(--tertiary-color);
    color: white;
    cursor: pointer;
    font-size: 25pt;
    height: 50px;
    left: 0;
    line-height: 40pt;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -70px;
    width: 47px;
    transition: 250ms ease-in;
}

#autoScrollButton:hover {
    background-color: var(--secondary-color);
}

@media (min-width: 1024px) {
    #autoScrollButton {
        left: 60px;
    }

    #footer-links {
        margin-left: 30px;
    }

    .footer-name {
        margin-left: 30px;
    }
}