 body {
   padding-top: 70px;
   /* padding-bottom: 70px; */
   font-family: var(--body-font-family) !important;
   font-size: var(--body-font-size) !important;
   margin: 0 auto;
   height: 100%;
   width: 100%;
 }

 a.title {
   text-decoration: none !important;
   color: black !important;
   transition: text-decoration 0.2s !important;
 }

 a.title:hover {
   text-decoration: var(--tertiary-color) !important;
 }

 .blog-title {
   font-family: var(--title-font-family);
   font-weight: var(--font-weight-600);
   padding-top: 20px;
 }

 .blog-card {
   box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
   border-radius: 5px !important;
 }

 ul.blog-categories,
 ul.blog-categories li {
   list-style-type: none;
   padding: 0;
   margin-left: 0;
   font-family: var(--fancy-font-family);
 }

 ul.blog-categories {
   bottom: 0;
   position: absolute;
   transition: opacity .25s ease-in-out;
 }

 ul.blog-categories li {
   display: inline-block;
   background-color: var(--tertiary-color);
   border: 0.2em solid var(--tertiary-color);
   border-radius: 0.6em;
   margin-right: 0.1em;
   margin-top: 0.2em;
   color: white;
   padding: 0 0.1em;
 }

 ul.all-categories {
   position: relative !important;
 }

 ul.all-categories a {
   color: white;
   text-decoration: none;
 }

 ul.all-categories span {
   background: var(--secondary-color);
 }

 h1.title {
   font-family: var(--title-font-family);
   position: relative;
   padding-bottom: 3rem;
   margin-bottom: 3rem;

   background: linear-gradient(to right, var(--primary-color), var(--primary-color)) no-repeat;
   background-size: 20% 3px;
   background-position: bottom;
   font-weight: var(--font-weight-600);
   font-size: 4rem;
 }

 @media (min-width: 1024px) {
   .padding-left {
     padding-left: 50px !important;
   }
 }